.headbanner {
    background-color: rgb(33, 57, 190);
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.navbaritem {
    margin-right: 100px;
    text-align: end;
}

.searchbar {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.bgdatatable{
    background : none;
    background-color: white;
}
.title{
    text-align: center;
}
.card{
    margin-top: 40px;
    flex: 1;
    flex-direction: column;

}
.button{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}